doctype html
head
  meta(charset="utf-8")
  link(rel="stylesheet", href="/stylesheets/master.css")
  title 
body
  h1 Image search API
  h4 url format is "https://thawing-mountain-16189.herokuapp.com/api/imagesearch/search?number"  
  h3 search images:
  a(href="https://thawing-mountain-16189.herokuapp.com/api/imagesearch/hello?3", target="_blank").
    https://thawing-mountain-16189.herokuapp.com/api/imagesearch/hello?3
  h3 see all searched queries
  a(href="https://thawing-mountain-16189.herokuapp.com/api/all/imagesearch/", target="_blank").
    https://thawing-mountain-16189.herokuapp.com/api/all/imagesearch/
  
  
